<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hey, I'm Carlos Aurélio</h1>
    <p>Welcome to my personal blog. Enjoy it!</p>
    <p>I'm always posting news on the blog, so if you want more information about me access my social media.</p>
    <p>And don't forget to visit my linkedin <a href="https://www.linkedin.com/in/carlos-aurelio-meireles-ribeiro-filho-3b0511b2/">@CarlosAurelio</a> and see all my professional skills.</p>
  </div>
</div>
